<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edit Movie</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<div th:insert="fragments/header :: header"></div>
<div class="container my-2">
    <form action="/updateMovie" method="post">
        <!-- Movie Title -->
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{movie.title}">
        </div>

        <!-- Genres -->
        <div class="form-group col-md-8">
            <label for="name" class="col-form-label">Genres</label>
            <select th:field="*{genres}" class="form-control" multiple="multiple">
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
            </select>
        </div>

        <!-- Actors -->
        <div class="form-group col-md-8">
            <label for="name" class="col-form-label">Actors</label>
            <select th:field="*{actors}" class="form-control" multiple="multiple">
                <option th:each="actor : ${actors}" th:value="${actor.id}" th:text="${actor.name}"></option>
            </select>
        </div>

        <!-- Description -->
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" th:field="*{movie.description}"></textarea>
        </div>

        <!-- Duration -->
        <div class="mb-3">
            <label for="duration" class="form-label">Duration (minutes)</label>
            <input type="number" class="form-control" id="duration" th:field="*{movie.metaData.duration_minutes}">
        </div>

        <!-- Release Date -->
        <div class="mb-3">
            <label for="releaseDate" class="form-label">Release Date</label>
            <input type="date" class="form-control" id="releaseDate" th:field="*{movie.metaData.releaseDate}">
        </div>

        <!-- Language -->
        <div class="mb-3">
            <label for="language" class="form-label">Language</label>
            <input type="text" class="form-control" id="language" th:field="*{movie.metaData.language}">
        </div>

        <!-- Budget -->
        <div class="mb-3">
            <label for="budget" class="form-label">Budget</label>
            <input type="number" class="form-control" id="budget" th:field="*{movie.metaData.budget}">
        </div>

        <!-- Box Office Revenue -->
        <div class="mb-3">
            <label for="boxOfficeRevenue" class="form-label">Box Office Revenue</label>
            <input type="number" class="form-control" id="boxOfficeRevenue" th:field="*{movie.metaData.boxOfficeRevenue}">
        </div>

        <!-- Country of Origin -->
        <div class="mb-3">
            <label for="countryOfOrigin" class="form-label">Country of Origin</label>
            <input type="text" class="form-control" id="countryOfOrigin" th:field="*{movie.metaData.countryOfOrigin}">
        </div>

        <button type="submit" class="btn btn-primary">Update Movie</button>
    </form>
</div>
</body>
</html>
